@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-spin-once {
  animation: spin-once 1s ease-in-out;
}

@keyframes spin-once {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

/*@font-face {*/
/*  font-family: 'GoogleSans';*/
/*  src: url('../../public/fonts/GoogleSans-Regular.ttf') format('ttf'),*/
/*       url('../../public/fonts/GoogleSans-Medium.ttf') format('ttf'),*/
/*       url('../../public/fonts/GoogleSans-Bold.ttf') format('ttf'),*/
/*       url('../../public/fonts/GoogleSans-Italic.ttf') format('ttf'),*/
/*       url('../../public/fonts/GoogleSans-MediumItalic.ttf') format('ttf'),*/
/*       url('../../public/fonts/GoogleSans-BoldItalic.ttf') format('ttf');*/
/*}*/

/*@layer base {*/
/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-Regular.ttf) format('ttf');*/
/*  }*/
/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-Medium.ttf) format('ttf');*/
/*  }*/
/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-Bold.ttf) format('ttf');*/
/*  }*/

/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: italic;*/
/*    font-weight: 400;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-Italic.ttf) format('ttf');*/
/*  }*/
/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: italic;*/
/*    font-weight: 500;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-MediumItalic.ttf) format('ttf');*/
/*  }*/
/*  @font-face {*/
/*    font-family: 'GoogleSans';*/
/*    font-style: italic;*/
/*    font-weight: 700;*/
/*    font-display: swap;*/
/*    src: url(../../public/fonts/GoogleSans-BoldItalic.ttf) format('ttf');*/
/*  }*/
/*}*/

/*@layer base {*/
/*  html {*/
/*    font-family: "GoogleSans", system-ui, sans-serif;*/
/*  }*/
/*}*/